@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Nanum+Gothic:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Nanum+Pen+Script&family=Do+Hyeon&family=Gothic+A1:wght@400;500;700&family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600;700&family=Lato:wght@400;700&family=Dancing+Script:wght@400;700&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.Nanum-Pen-Script {
    font-family: 'Nanum Pen Script', cursive;
}

.Noto-Sans-KR {
    font-family: 'Noto Sans KR', sans-serif;
}

.Nanum-Gothic {
    font-family: 'Nanum Gothic', sans-serif;
}

.Nanum-Myeongjo {
    font-family: 'Nanum Myeongjo', serif;
}

.Do-Hyeon {
    font-family: 'Do Hyeon', sans-serif;
}

.Gothic-A1 {
    font-family: 'Gothic A1', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.Open-Sans {
    font-family: 'Open Sans', sans-serif;
}

.Lato {
    font-family: 'Lato', sans-serif;
}

.Dancing-Script {
    font-family: 'Dancing Script', cursive;
}

.Pacifico {
    font-family: 'Pacifico', cursive;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
body {
    background-color: #1E1F22;
    touch-action: none;
    transform-style: preserve-3d;

}

.white-space-pre-line {
    white-space: pre-line;
}
/* 메탈릭 네비게이션 바 스타일 */
.metallic-navbar {
    background: linear-gradient(135deg, #6d6d6d 0%, #191919 50%, #000000 100%);
    border: 1px solid #a0a0a0;
    border-radius: 10px;
    box-shadow: inset 0 0 10px #5e5e5e, 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.metallic-navbar-dropdown {
    background: linear-gradient(135deg, #6d6d6d 0%, #191919 50%, #000000 100%);
    border: 1px solid #a0a0a0;
    box-shadow: inset 0 0 10px #5e5e5e, 0 2px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.metallic-navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}
.neon-text-normal {
    color: #ffffff; /* 매우 밝은 주황색 */
    text-shadow:
            0 0 5px #ffae42,
            0 0 10px #ffae42,
            0 0 40px #ffd700, /* 금색 */
            0 0 80px #ff8c00, /* 다크오렌지색 */
            0 0 100px #ff4500; /* 오렌지레드색 */
}
/* 기본 네온 텍스트 스타일 */
.neon-text {
    color: #ffff00; /* 매우 밝은 주황색 */
    text-shadow:
            0 0 5px #ffae42,
            0 0 20px #ffae42,
            0 0 40px #ffd700, /* 금색 */
            0 0 80px #ff8c00, /* 다크오렌지색 */
            0 0 100px #ff4500; /* 오렌지레드색 */
    animation: flicker 1.5s infinite alternate;
}


/* 깜빡이는 애니메이션 */
@keyframes flicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 5px #ffae42,
                0 0 10px #ffae42,
                0 0 40px #ffd700, /* 금색 */
                0 0 80px #ff8c00, /* 다크오렌지색 */
                0 0 100px #ff4500; /* 오렌지레드색 */
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

.neon-text-red {
    color: #ff3333; /* 매우 밝은 빨간색 */
    text-shadow:
            0 0 5px #000000,    /* 밝은 빨간색 */
            0 0 10px #ff4d4d,   /* 밝은 빨간색 */
            0 0 40px #ff1a1a,   /* 다크 레드 */
            0 0 80px #e60000,   /* 강렬한 레드 */
            0 0 100px #b30000,  /* 어두운 레드 */
            0 0 150px #990000;  /* 매우 어두운 레드 */
    animation: flicker-red 1.5s infinite alternate;
}

/* 깜빡이는 애니메이션 */
@keyframes flicker-red {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 5px #000000,    /* 밝은 빨간색 */
                0 0 10px #ff4d4d,   /* 밝은 빨간색 */
                0 0 40px #ff1a1a,   /* 다크 레드 */
                0 0 80px #e60000,   /* 강렬한 레드 */
                0 0 100px #b30000,  /* 어두운 레드 */
                0 0 150px #990000;  /* 매우 어두운 레드 */
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

/* Magenta Neon Text */
.neon-text-magenta {
    color: #ff44cc; /* 마젠타 */
    text-shadow:
            0 0 5px #ff77ff,
            0 0 10px #ff77ff,
            0 0 40px #ff33ff, /* 밝은 마젠타 */
            0 0 80px #cc00cc, /* 다크 마젠타 */
            0 0 100px #990099, /* 딥 마젠타 */
            0 0 150px #660066; /* 퍼플 */
    animation: flicker-magenta 2s infinite alternate;
}

@keyframes flicker-magenta {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 5px #ff77ff,
                0 0 10px #ff77ff,
                0 0 40px #ff33ff, /* 밝은 마젠타 */
                0 0 80px #cc00cc, /* 다크 마젠타 */
                0 0 100px #990099, /* 딥 마젠타 */
                0 0 150px #660066; /* 퍼플 */
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

/* Emerald Neon Text */
.neon-text-emerald {
    color: #50c878; /* 에메랄드 */
    text-shadow:
            0 0 5px #82f4a7,
            0 0 10px #82f4a7,
            0 0 40px #32cd32, /* 라임 그린 */
            0 0 90px #2e8b57,
            0 0 150px #006400; /* 다크 그린 */
    animation: flicker-emerald 3s infinite alternate;
}

@keyframes flicker-emerald {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
                0 0 5px #82f4a7,
                0 0 10px #82f4a7,
                0 0 40px #32cd32, /* 라임 그린 */
                0 0 90px #2e8b57,
                0 0 150px #006400; /* 다크 그린 */
    }

    20%, 24%, 55% {
        text-shadow: none;
    }
}

/* 기본 네온 이미지 스타일 */
.neon-image {
    animation: imageFlicker 5s infinite alternate;
}

/* 깜빡이는 애니메이션 */
@keyframes imageFlicker {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        filter: brightness(1.5) drop-shadow(0 0 1px #ffae42)
        drop-shadow(0 0 1px #ffae42)
        drop-shadow(0 0 2px #f0f0f0)
        drop-shadow(0 0 4px #e0e0e0)
        drop-shadow(0 0 6px #c0c0c0)
        drop-shadow(0 0 7px #b0b0b0);
    }

    20%, 24%, 55% {
        filter: brightness(1) drop-shadow(0 0 0px #000);
    }
}

@layer components {
    /* Red Neon Effect */
    .neon-effect-red {
        box-shadow:
                0 0 5px #000000,    /* Dark Red */
                0 0 10px #ff4d4d,   /* Bright Red */
                0 0 40px #ff1a1a,   /* Darker Red */
                0 0 80px #e60000,   /* Intense Red */
                0 0 100px #b30000,  /* Darker Red */
                0 0 150px #990000;  /* Very Dark Red */
        animation: bulb-flicker-red 1s infinite alternate;
    }

    @keyframes bulb-flicker-red {
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
            box-shadow:
                    0 0 5px #000000,    /* Dark Red */
                    0 0 10px #ff4d4d,   /* Bright Red */
                    0 0 40px #ff1a1a,   /* Darker Red */
                    0 0 80px #e60000,   /* Intense Red */
                    0 0 100px #b30000,  /* Darker Red */
                    0 0 150px #990000;  /* Very Dark Red */
        }
        20%, 24%, 55% {
            box-shadow: none;
        }
    }

    /* Yellow Neon Effect */
    .neon-effect-yellow {
        box-shadow:
                0 0 5px #000000,    /* Dark Yellow */
                0 0 10px #ffff66,   /* Bright Yellow */
                0 0 40px #ffcc00,   /* Darker Yellow */
                0 0 80px #ff9900,   /* Intense Yellow */
                0 0 100px #cc7a00,  /* Darker Yellow */
                0 0 150px #b36b00;  /* Very Dark Yellow */
        animation: bulb-flicker-yellow 3s infinite alternate;
    }

    @keyframes bulb-flicker-yellow {
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
            box-shadow:
                    0 0 5px #000000,    /* Dark Yellow */
                    0 0 10px #ffff66,   /* Bright Yellow */
                    0 0 40px #ffcc00,   /* Darker Yellow */
                    0 0 80px #ff9900,   /* Intense Yellow */
                    0 0 100px #cc7a00,  /* Darker Yellow */
                    0 0 150px #b36b00;  /* Very Dark Yellow */
        }
        20%, 24%, 55% {
            box-shadow: none;
        }
    }

    /* Green Neon Effect */
    .neon-effect-green {
        box-shadow:
                0 0 5px #000000,    /* Dark Green */
                0 0 10px #66ff66,   /* Bright Green */
                0 0 40px #33cc33,   /* Darker Green */
                0 0 80px #00b300,   /* Intense Green */
                0 0 100px #008000,  /* Darker Green */
                0 0 150px #006600;  /* Very Dark Green */
        animation: bulb-flicker-green 5s infinite alternate;
    }

    @keyframes bulb-flicker-green {
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
            box-shadow:
                    0 0 5px #000000,    /* Dark Green */
                    0 0 10px #66ff66,   /* Bright Green */
                    0 0 40px #33cc33,   /* Darker Green */
                    0 0 80px #00b300,   /* Intense Green */
                    0 0 100px #008000,  /* Darker Green */
                    0 0 150px #006600;  /* Very Dark Green */
        }
        20%, 24%, 55% {
            box-shadow: none;
        }
    }
}



/* 회전 애니메이션 정의 */
@keyframes spin-mbti {
    0% { transform: rotateX(0deg); }
    50% { transform: rotateX(180deg); }
    100% { transform: rotateX(360deg); }
    50% { transform: rotateX(180deg); }
    0% { transform: rotateX(0deg); }
}

.mbti-spin-inner {
    display: inline-block;
    transform-style: preserve-3d;
}

.mbti-spin-active {
    animation: spin-mbti 0.25s ease-in-out;
}


login-block {
    position: relative;
    margin: 100px auto 0;
    width: 500px;
    padding: 20px;
    background: linear-gradient(0deg, #000, #272727);
    border-radius: 8px;
}

.social-icon:hover i {
    transform: rotate(360deg);
    transition: all 0.2s;
}

.icoKakao:hover {
    background-color: #FFD700;
}

.icoGoogle:hover {
    background-color: #000000;
}

.icoKakao:hover,
.icoGoogle:hover{
    color: #fff;
}
.social-icon {
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    transform: rotate(360deg);
}
.link-underline {
    position: relative;
    display: inline-block;
}

.link-underline::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: currentColor;
    transition: width 0.3s ease, left 0.3s ease;
}

.link-underline:hover::after {
    width: 82%;
    left: 9%;
}


@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.5s ease-out;
}

@layer utilities {
    @keyframes fold-down {
        from {
            height: 0;
            opacity: 0;
        }
        to {
            height: 60vh;
            opacity: 1;
        }
    }

    .animate-unfold {
        animation: fold-down 500ms ease-out forwards;
        overflow: hidden;
    }

}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 85vh;
    --card-width: clamp(300px, 90vw, 1500px);
    --gradient-color1: #5ddcff;
    --gradient-color2: #3c67e3;
    --gradient-color3: darkblue;
}

.card {
    background: #1E1F22;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
}

.card::before {
    content: "";
    width: clamp(303px, 91vw, 1515px);
    height: 86vh;
    border-radius: 8px;
    background-image: linear-gradient(
            var(--rotate),
            var(--gradient-color1),
            var(--gradient-color2) 43%,
            var(--gradient-color3)
    );
    position: absolute;
    z-index: -1;
    top: -0.5%;
    left: -0.5%;
    animation: card-spin 5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: -0.5%;
    left: -0.5%;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
            var(--rotate),
            var(--gradient-color1),
            var(--gradient-color2) 43%,
            var(--gradient-color3)
    );
    opacity: 1;
    transition: opacity .5s;
    animation: card-spin 5s linear infinite;
}

@keyframes card-spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.dropdown {
    transform: translate(0, 20px);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.dropdown.open {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}


#home-spin-container {
    position: relative;
}
#home-drag-container,
#home-spin-container {
    position: relative;
    display: flex;
    margin: auto;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
}


#home-drag-container img {
    transform-style: preserve-3d;
    position: absolute;
    left: 0;
    top: 0;
}

#home-ceiling {
    width: 900px;
    height: 900px;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(-90deg);
}

#home-ground {
    width: 900px;
    height: 900px;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(-90deg);
}

@keyframes home-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes home-spinRevert {
    from {
        transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0deg);
    }
}

.electric-ceiling {
    padding: 5px 5px;
    background-color: rgba(106, 123, 252, 0.13);
    border: 2px solid rgb(125, 140, 255);
    color: white;
    position: relative;
    filter: blur(0px);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slideDown 1s ease-out forwards;
}
.electric-img {
    padding: 1vh 1vh;
    background-color: rgba(106, 123, 252, 0.13);
    border: 2px solid rgb(125, 140, 255);
    color: white;
    position: relative;
    filter: blur(0px);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.electric-ground {
    padding: 5px 5px;
    background-color: rgba(106, 123, 252, 0.13);
    border: 2px solid rgb(125, 140, 255);
    color: white;
    position: relative;
    filter: blur(0px);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: slideUp 1s ease-out forwards;
}


@keyframes slideDown {
    from {
        transform: translateY(200%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(-200%);
    }
    to {
        transform: translateY(0%);
    }
}

.curtain-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.curtain {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: rgba(27, 27, 27, 0.5);
    animation-timing-function: ease-in-out;
}

.top-curtain {
    top: 0;
    animation: curtain-top 5s forwards;
}

.bottom-curtain {
    bottom: 0;
    animation: curtain-bottom 5s forwards;
}

@keyframes curtain-top {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes curtain-bottom {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes reveal-left {
    0% {
        width:20vw;
        clip-path: polygon(0 0, 90% 0, 100% 100%, 0% 100%);
    }
    100% {
        width:27vw;
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    }
}

.animate-reveal-left {
    animation: reveal-left 2s ease-in-out forwards;
}

@keyframes reveal-right {
    0% {
        width:20vw;
        clip-path: polygon(0% 0, 100% 0, 100% 100%, 20% 100%);
    }
    100% {
        width:27vw;
        clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.animate-reveal-right {
    animation: reveal-right 2s ease-in-out forwards;
}